In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime
%matplotlib inline
from matplotlib import pyplot as plt
plt.rcParams['font.sans-serif'] = 'SimHei'  # 设置中文显示
plt.rcParams['axes.unicode_minus'] = False

In [3]:
df1 = pd.read_excel('A14/t_stat_activity_log.xls')
df2 = pd.read_excel('A14/')

In [5]:
df = df1.sample(frac=0.3,random_state=None).reset_index()
df.head()

,index,id,insert_time,create_time,last_modify_time,dtype,activity_id,personid,courseid,clazzid,status,ip,attend_id,attend_time,fid
0,6020,2312522,2022-06-08 09:30,2022-06-08 09:30,2022-06-08 09:30,AttendLog,5000203045466,197688854,222652756,50621835,11,NaN,5000028103528,2022-06-08 09:30,1727
1,4063,1560806,2022-03-16 15:57,2022-03-16 15:57,2022-03-16 15:57,WorkLog,5000119843004,197689620,222652756,50621834,3,NaN,5000015680677,2022-03-16 13:58,1727
2,3142,1821077,2022-04-08 10:26,2022-04-08 10:26,2022-04-08 10:26,AttendLog,3000146535732,111946630,222820410,51027597,11,NaN,3000019391140,2022-04-08 10:12,1727
3,1782,1470466,2022-03-18 14:16,2022-03-18 14:16,2022-03-18 14:16,AttendLog,4000125030710,111943864,222602451,50522391,1,NaN,4000016452327,2022-03-18 14:02,1727
4,3291,1319767,2022-02-23 08:41,2022-02-23 08:41,2022-02-23 08:41,PreampAnswerLog,4000105367253,147385872,222865147,51154010,1,NaN,4000013835383,2022-02-23 08:41,1727

In [7]:
# 查看是否存在缺失值
df.isnull().sum()

index         0
时间            0
用户ID          0
姓名            0
账号            0
group1        0
group2        0
group3        0
事件类型          0
课程id          0
课程名           0
班级名          21
班级id         21
任务点类型     29644
任务点名称     26274
设备         3161
IP         3182
省份        35987
城市        35987
dtype: int64